# Numéro WhatsApp au format international, sans + ni espaces
PHONE_NUMBER=242XXXXXXXXX

# Préfixe des commandes
PREFIX=!

# Nom du bot
BOT_NAME=Styven WhatsApp Bot

# Nom affiché comme auteur
OWNER_NAME=Styven Emmanuel

# Image du menu : URL directe vers une image
MENU_IMAGE_URL=https://files.catbox.moe/jxtv6y.jpg
